img {
    height: 10em; /* Set the height to 10em */
    width: 50rem; /* Set the width to 80vw (80% of the viewport width) */
    object-fit: cover; /* Crop the image to cover the container */
    object-position: top; /* Align the image to the top */
    transition: transform 0.3s ease; /* Add transition effect on hover */
}

/* Add hover effect */
img:hover {
    transform: scale(1.1); /* Scale the image on hover */
}
.projects-container {
    padding: 20px;
    margin-left: 2.3vw
  }
  
  .project-summary {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px; /* Set a consistent height for all project summaries */
  }
  
  .project-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .project-image {
    max-width: 100%;
    max-height: 200px; /* Ensure the image fits within the project-summary */
    object-fit: cover; /* Ensure the image scales properly */
  }
  
  .project-title {
    margin-top: 10px;
    flex-shrink: 0; /* Prevent the title from shrinking */
  }
  